/* 手機版 */
@media (max-width: 768px) {
    .article-title {
        font-size: 24px;
        width: 90%;
        margin: 20px auto;
    }

    .article-content {
        font-size: 16px;
        width: 90%;
        margin: 20px auto; 
    }

    pre {
        font-size: 12px;
        padding: 10px; 
    }

    code {
        font-size: 85%; 
    } 
}

/* 一般 */
@media (min-width: 769px) {
    .article-title {
        font-size: 36px;
        width: 50%;
        margin: 50px auto;
    }
    
    .article-content {
        font-size: 18px;
        width: 50%;
        margin: 50px auto; 
    }

    /* 為了讓 sidebar 在 article page 內不管什麼螢幕大小都能夠縮成漢堡 */
    /* 側邊欄樣式 */
    .sidebar {
        display: none !important;
    }

    .sidebar.active {
        display: flex !important;
        flex-direction: column !important;
        padding: 20px !important;
        gap: 50px !important; /* 元素之間的間距 */ 
    }
    .hamburger {
        position: fixed !important;
        top: 20px !important;
        left: 20px !important;
        width: 50px !important;
        height: 50px !important;
        background: rgba(0, 0, 0, 0.3) !important; /* 半透明黑色背景 */
        border-radius: 10px !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 8px !important; /* 漢堡線條間距 */
        cursor: pointer !important;
        z-index: 1000 !important; /* 確保顯示在最上方 */
        transition: background 0.3s ease, transform 0.2s !important;
    }
}

  
pre {
    background-color: #282c34;
    padding: 15px;
    border-radius: 8px;
    overflow: auto;
    margin: 20px 0;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
pre code {
    color: #FFE153;
    background-color: transparent;
    padding: 0;    /* 移除內邊距 */
    border: none;    /* 無邊框 */ 
}

code {
    background-color: #f5f5f5;
    color: #d63384;
    padding: 2px 4px;
    border-radius: 4px;
    border: 1px solid #e1e1e1;
    font-size: 90%; 
}

pre code .keyword {
    color: #c678dd;
    font-weight: bold; 
}

pre code .string {
    color: #98c379; 
}

pre code .number {
    color: #d19a66; 
}

pre code .comment {
    color: #5c6370;
    font-style: italic; 
}

pre code .function {
    color: #61afef; 
}