<head>
    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="stylesheet" href="/static/css/hamburger.css">
    <link rel="stylesheet" href="/static/css/sidebar.css">
</head>

<div class="hamburger" onclick="toggleSidebar()">
    <span></span>
    <span></span>
    <span></span>
</div>

<div class="sidebar">
    <div class="profile">
        <div id="my-photo">
            <img src="/static/image/myPhoto.JPG" alt="my photo">
        </div>
        <div id="introduction">
            <p>Chia-Tai, Lee</p>
            <p>國立台灣大學 資訊管理研究所</p>
        </div>
    </div>
    <div class="sidebarList">
        <a href="/" class="sidebarItem">Home</a>
        <a href="/aboutme" class="sidebarItem">About me</a>
        <a href="/" class="sidebarItem">Projects</a>
    </div>
</div>

<script src="/static/js/sidebar.js"></script>